* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

body {
	background-color: #2F3133;
	color: #C4C4C4;
	background-image:
	linear-gradient(to bottom,
		#000000 0px,
		#000000 0.01vh,
		#2F3133 7vh,
		#2F3133 100%);;
}

.container {
	width: 70%;
	margin: 10px auto;
}